<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Management Web App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
    <h1>{{ title }}</h1>
    <p>This is a sample web application based on the Custom URL Scheme in GEMBA Note.</p>
    <ul>
        <li><a href="/single">Single Form Generation</a></li>
        <li><a href="/multiple">Multiple Forms Generation</a></li>
    </ul>   
</body>
</html>