<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Property Form with Image and PDF</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <a href=".">Back to Top</a>
        <h1>Property Information</h1>
        <form id="propertyForm" action="#">
            <table>
            <tr>
                <th>Name</th>
                <td><input type="text" id="p_name" name="p_name" placeholder="Enter the property name" required></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><input type="file" id="image" accept="image/png,image/jpeg" required></td>
            </tr>
            <tr>
                <th>PDF</th>
                <td><input type="file" id="pdf" accept="application/pdf" required></td>
            </tr>
            </table>
            <input type="hidden" id="protocol" name="protocol" value={{ protocol }}>
            <input type="hidden" id="parameters" name="parameters" value={{ parameters }}>
            <input type="hidden" id="recordset_uri" name="recordset_uri" value={{ recordset_uri }}>
            <input type="submit" value="Create">
        </form>
    <script>
        let form = document.querySelector("#propertyForm");
        form.addEventListener("submit", async function(event) {
            // event.preventDefault(); // Not to reload the page
            await newImagePdfNote();
        });
    
        // Create a new note
        async function newImagePdfNote() {
            let protocol = document.getElementById("protocol").value;
            if (protocol == 'None') {
                alert("APP_URI_SCHEME is not specified.");
                return;
            }
            let parameters = document.getElementById("parameters").value;
            if (parameters == '') {
                alert("Check environment variables.");
                return;
            }
            let recordset_uri = document.getElementById("recordset_uri").value;
            if (recordset_uri == 'None') {
                alert("recordset_uri is not specified.");
                return;
            }

            const pName = encodeURI(document.getElementById("p_name").value);
            const image_file = document.getElementById("image").files[0];
            const pdf_file = document.getElementById("pdf").files[0];

            const formData = new FormData();
            formData.append("files", image_file);
            formData.append("files", pdf_file);

            // Upload the image file
            const response = await fetch("/upload_media", {
                method: "POST",
                body: formData
            });
            if (!response.ok) {
                console.error("HTTP error:", response.status);
                console.error(await response.text());
                return;
            }

            const path_list = await response.json(); // [image_path, pdf_path]
            let url = protocol + ':///nsk/new' + parameters;
            url += '&recordset_uri=' + recordset_uri;
            url += '?data=' + pName + ',' + path_list.join(',');
            console.log(url);
            window.location.href = url;
        }
    </script>
    </body>
</html>